/*.navbar .navbar-default .navbar-fixed-top {}
*/
body {
    padding-top: 90px;
    /*background-color: #fafafa;*/
    background-color: #292929;
    color: #333333;
}
header {
    padding-bottom: 0px;
}
#main-menu {
    background-color: #eeeeee;
}
.container {
       padding-top: 0px;
}
h2 {
    margin-top: -20px;
/*    color: #640ba3;*/
    color: #cc66ff;
    text-align: center;
}
/*gallery*/
.section-header .section-title {
    color: #cc66ff;
    }
a {
  color: #0e0e0e;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}
/*@major_color: #0e0e0e;*/
/*@media only screen and (min-width: 768px) {*/
  #main-menu.navbar-default {
    background: rgba(14, 14, 14, 0.85);
        /*background: rgba(255, 255, 255, 0.9);*/
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    /*border-top: 3px solid #45aed6;*/
      border-top: none;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: #b0aeae;
    opacity: 0.9;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 2px solid transparent;
    margin-left: -15px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: none;
    padding: 15px 0;
    color: #fff;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #ffcc66;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #ffcc66;
    background-color: transparent;
  }
.navbar-right .dropdown-menu {
    right: 115px;
    left: auto;
}
.navbar-right {
            padding: 10px;
    }
.navbar.navbar-default .navbar-brand {
     padding-top: 10px;
     padding-bottom: 10px;
    }
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-top: 0px;
    }
.btn {
        border-radius: 4px;
    }
.btn-danger, .dropdown-toggle{
    color: white;
    background-color: #c9c7c7;
     border-style: none;
}
.btn-danger:hover {
    color: #fff;
    background-color: #58f700;
   /* background-color: #b0aeae;*/
  /*  border-color: #000000;*/
}
.dropdown, .btn, .btn-danger {
    border-style: none;
}
.collapse, .navbar-collapse, .navbar-right {
    border-style: none;
}
.btn-danger:focus, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #b0aeae;
    border-color: #b0aeae;
}
  /*}*/
img {
max-width: 75%;
}
.navbar.navbar-default .navbar-toggle {
    margin-top: 0px;
    }
#main-slider {
    max-width: 100%;
    }
    /*
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }*/
#cta {
    background-color: #eeeeee;
    /*background-color: rgba(238, 238, 238, 0.8);*/
    text-align: justify;
}
.contactsplit{
    /*border-left: solid 1px #00cc33;*/
}
a.email {
    color:grey;
}
.call {
    color: grey;
}
a.email:hover {
    color:lightgrey;
}

/*contact-us*/
label {
		/*color: #9acd40;*/
        /*color: #00cc33;*/
                color: #4fd604;
        }
.icon.alt:before {
    background-color: #4fd604;
    }
textarea {
	background: #dddddd;
        border-color: #9acd40;
        }
        
#footer {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    /*background: #2e2e2e;*/
    background: #0e0e0e;
    }







