.owl-carousel img {
    display: block;
    max-width: 100%;
    height: auto;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}